@inject IHtmlLocalizer<Progetto_UI.Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (Progetto_UI.Web.Areas.IdentitaViewModel)ViewData[Progetto_UI.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas {
    @RenderSection("metas", false)
}
@section styles {
    @RenderSection("styles", false)
    <style>
        body {
            background-color: #023047;
            color: white;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .title {
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            color: black;
            background-color: rgba(255, 255, 255, 0.7);
            display: block;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            margin: 0 auto 20px auto;
            width: fit-content;
        }

        .back-home {
            position: absolute;
            top: 5px;
            left: 10px;
        }

        .name-box {
            position: absolute;
            right: 10px;
            top: 5px;
            background-color: #484848;
            color: white;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
        }

        .overlay-content {
            background-color: #5c5cad;
            padding: 20px;
            border-radius: 8px;
            color: white;
            text-align: center;
        }

            .overlay-content button {
                margin-top: 10px;
                padding: 10px;
                border: none;
                background-color: white;
                color: black;
                font-weight: bold;
                border-radius: 4px;
            }

        .form-section {
            padding: 50px 20px;
            text-align: center;
        }

            .form-section input {
                width: 300px;
                max-width: 100%;
                margin-bottom: 10px;
                padding: 10px;
                border: none;
                border-radius: 4px;
            }

            .form-section button {
                padding: 10px 20px;
                border: none;
                background-color: #5c5cad;
                color: white;
                font-weight: bold;
                border-radius: 4px;
            }
    </style> 
}
<div id="pageId" class="onit-page">
    <div class="onit-page-sticky-top" id="onit-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark onit-page-menu">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    @* <img class="onit-suites-logo" src="~/images/app-logo.png" /> *@
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                @{
                    var nickname = Context.Request.Cookies["UserNickName"];
                    var isLoginPage = ViewContext.RouteData.Values["Controller"]?.ToString()?.ToLower() == "login" &&
                    ViewContext.RouteData.Values["Action"]?.ToString()?.ToLower() == "login";
                }

                @if (!string.IsNullOrEmpty(nickname) && !isLoginPage)
                {
                    <div class="navbar-text ms-auto name-box">
                        @nickname
                    </div>
                }
                <div class="collapse navbar-collapse flex-wrap" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto onit-page-menu-user">
                        @if (identitaCorrente != null)
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="user-profile-picture" src="@identitaCorrente.GravatarUrl" />&nbsp;@identitaCorrente.EmailUtenteCorrente
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" role="menu">
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="javascript: document.getElementById('POST_LogOut').submit()" title="@SharedLocalizer["Chiudi sessione di lavoro"]">
                                        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
                                    </a>
                                    <form autocomplete="off" method="post" action="@Url.Action("Logout", "Login")" id="POST_LogOut" display="none"></form>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @RenderSection("pageTitle", false)
    </div>
    @RenderSection("pageSubtitle", false)
    <div class="title">
        @RenderSection("pageTitleContent", false)
    </div>
    @RenderBody()
</div>
@section googlehead {
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-', { 'anonymize_ip': true });    // Ricordarsi di anonimizzare per fare ricadere il cookie tra quelli tecnici ed evitare l'obbligo del banner
    </script>*@
}
@section scripts {
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>

    @RenderSection("scripts", false)
}
